<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <br>
      <form action="/packers" method="post">
        <label for="inputName">Add a new item</label>
        <input id=""

        <button type="submit">Submit</button>
      </form>
      
    </div>
  </body>
</html>