<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <br>
      <h1>Welcome to your packing list for your camping trip!</h1>
      <p><a href="/packers/new">Add a new item to your list</a></p>
      <p><a href="/packers">See packing list</a></p>

    </div>
  </body>
</html>